<html>
  <head>
    <style>
      .container{
        background-color: yellow;
        padding: 20px
      }
      input{
        width: 100%;
        padding: 5px;
        border: 1px solid red;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      #password_validation
      {
        color: red;
      }
    </style>

  </head>
  <body>

    <div class = "container">
      <form>
        <div id = "usrname" name ="usrname" >
          <label for = "username">Username</label>
          <input type = "text" id = "username">
        </div>

        <div id = "password" name ="password">
          <label for = "passwrd">Password</label>
          <input type ="password" id = "passwrd" onkeyup="passwordValidator()">
        </div>

        <button type = "submit" onclick="validatePasswordColor()">Submit
        </button>
      </form>
    </div>
    <div id = "password_validation">
      <ul>
        <li id = "small_alpha_character">Passsword must  contain atleast one small alphabet.</li>
        <li id = "captia_alpha_character">Passsword must  contain atleast one capital alphabet.</li>
        <li id = "numeric_character">Passsword must  contain atleast one  number.</li>
        <li id = "special_character">Passsword must  contain atleast special character.</li>
      </ul>
    </div>
    <script type="text/javascript">
        let usrname = document.getElementById("username");
        console.log(usrname.value);
        let password = document.getElementById("passwrd");
        let small_alpha_character = document.getElementById("small_alpha_character");
        let captia_alpha_character = document.getElementById("captia_alpha_character");
        let numeric_character = document.getElementById("numeric_character");
        let special_character = document.getElementById("special_character");

        let data = {
          "usrname": username.value,
          "password": password.value
        };

      function passwordValidator(){

        if (password.value.match(/[a-z]/g)){
          small_alpha_character.style.color = 'green';
        }else{
          small_alpha_character.style.color = 'Red';
        }
        if (password.value.match(/[A-Z]/g)){
          captia_alpha_character.style.color = 'green';
        }else{
          captia_alpha_character.style.color = 'Red';
        }
        if (password.value.match(/[0-9]/g)){
          numeric_character.style.color = 'green';
        }else{
          numeric_character.style.color = 'Red';
        }
        if (password.value.match(/[^0-9a-zA-Z]/g)){
          special_character.style.color = 'green';
        }else{
          special_character.style.color = 'Red';
        }
      }

      function ajax(url, method, data) {
        return new Promise(function(resolve, reject) {
          var request = new XMLHttpRequest();
          request.open(method, url, true);
          request.responseType = 'text';
          request.setRequestHeader("Content-Type", "application/json");
          request.onreadystatechange = function() {
            if (request.readyState === XMLHttpRequest.DONE) {
              if (request.status === 200) {
                resolve(request.responseText);
              } else {
                reject(Error(request.statusText));
              }
            }
          };
          request.onerror = function() {
            reject(Error("Network Error"));
          };
          request.send(data);
        });
      }

      function validatePasswordColor(){
        if (small_alpha_character.style.color === 'green' &&
            captia_alpha_character.style.color === 'green' &&
            numeric_character.style.color === 'green' &&
            special_character.style.color ===  'green'){

            ajax('http://localhost:5000/check', 'POST', JSON.stringify(data)).then(function(result) {
              console.log((result));
            });

        }else{
          alert("password is invalid");
        }
      }
    </script>
  </body>
</html>
